@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kalnia:wght@400;600&family=Poppins&display=swap');

:root{

    --fundoClaroDosCards: #F7F7F2;
    --textos: #00120B;
    --destaqueDeBotao: #2B50AA;
    --destaqueTitulos: #705324;
    --destaqueazulclaro: #68a1da;

    --fonte-destaque: 'Bree Serif', serif;
    --fonte-titulos-menores: 'Kalnia', serif;
    --fonte-textos-gerais: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:var(--destaqueazulclaro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-cabecalho a{
    color: var(--fundoClaroDosCards);
    text-decoration: none;
    font-size: 20px;
    font-family: var(--fonte-destaque);
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.5s;
}

.links-cabecalho a:hover{
    background-color: var(--destaqueDeBotao);
    color: var(--fundoClaroDosCards);
    border-radius: 20px;
}

header img{
    width: 150px;
    height: 150px;
    margin: 5px 2px 5px 10px;
}

header #login-button{
    font-family: var(--fonte-destaque);
    font-size: 20px;
    color: var(--fundoClaroDosCards);
    background: var(--destaqueDeBotao);
    box-shadow: 2px 2px 4px var(--textos);
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    margin: 0px 15px;
    cursor: pointer;
}

header #login-button:hover{
    background-color: var(--fundoClaroDosCards);
    color: var(--destaqueDeBotao);
    transition: 0.5s;
}


.secao-introdutoria{
    position: relative;
    width: 100vw;

}

.banner-gato{
    width: 100%;
}

.secao-introdutoria-texto{
    position: absolute;
    top: 40%; /* Ajusta a posição verticalmente ao centro da seção */
    right: 100px; /* Posiciona à direita da seção */
    transform: translate(0%, -50%); /* Ajusta a posição vertical usando translate */
    text-align: end; /* Alinha o texto à direita */
    padding: 20px; /* Adiciona algum espaçamento interno para melhorar a aparência */
    color: var(--textos); /* Define a cor do texto */
    width: 700px;
}

.secao-introdutoria-texto h1{
    font-family: var(--fonte-titulos-menores);
    color: var(--fundoClaroDosCards);
    font-size: 50px;
    text-shadow: 2px 2px 4px var(--textos);
}

.secao-introdutoria-texto h2{
    font-family: var(--fonte-destaque);
    color: var(--fundoClaroDosCards);
    font-size: 35px;
    text-shadow: 2px 2px 4px var(--textos);
    margin-bottom: 5px;
  
}

.secao-introdutoria-texto p{
    font-family: var(--fonte-textos-gerais);
    font-weight: 500;
    margin-top: 10px;

}

#introducao-button{
    margin-top: 30px;
    padding: 10px 40px;
    font-family: var(--fonte-destaque);
    font-size: 20px;
    color: var(--fundoClaroDosCards);
    background-color: var(--destaqueDeBotao);
    border: none;
    box-shadow: 2px 2px 4px var(--textos);
    border-radius: 20px;

}

#introducao-button:hover{
    color: var(--destaqueDeBotao);
    background-color: var(--fundoClaroDosCards);
    transition: 0.5s;
    cursor: pointer;
}

.secao-porqueNosEscolher-texto{
    font-size: 25px;
    font-family: var(--fonte-destaque);
    font-weight: 400;
    color: var(--destaqueDeBotao);
    text-align: center;
    margin: 50px 0px;
}

#secao-porqueNosEscolher-Icons{
    display: flex;
    align-items: center;
    justify-content: space-around; /* Ajusta o espaçamento entre as divs*/
    margin: auto;
}

#secao-porqueNosEscolher-Icons .icons{
   flex: 1; /* Faz com que todas as divs tenham a mesma largura */
    max-width: 280px; /* Define a largura máxima*/
    background-color:var(--fundoClaroDosCards);
    text-align: center;
    border-radius: 7px;
    box-shadow: 2px 2px 4px var(--textos);
    margin: auto;
    padding: 20px 10px;

}

#secao-porqueNosEscolher-Icons i{
    font-size: 40px;
    color:var(--destaqueDeBotao);   
}

#secao-porqueNosEscolher-Icons h3{
    font-family: var(--fonte-destaque);
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    color: var(--cortitulo);
}

#secao-porqueNosEscolher-Icons span{
    font-family: var(--fonte-destaque);
    font-size: 17px;
    padding-top: 15px;
}

#carrosel-de-informacoes{
      position: relative;
      /*width: 90%;  ajuste conforme necessário */
      margin: 50px auto; /* centraliza o carrossel */
      overflow: hidden;
}

.container-carrossel {
    display: flex;
    transition: transform 0.5s ease; /* Adiciona uma transição suave ao movimento dos slides */
}

.carrosel-slider {
    opacity: 0; /*adicionei agora*/
    flex: 0 0 100%;
    position: relative;
    text-align: center;
    transition: opacity 0.5s ease;
  }

  .on{
    opacity: 1;
  }

  .carrosel-img img {
    max-width: 100%;
    height: auto;
  }

  .carrosel-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px; /*aqui eu regulo a largura do paragrafo*/
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--fundoClaroDosCards);
  }

  .carrosel-texto h1{
    font-family: var(--fonte-titulos-menores);
    font-size: 50px;
    text-shadow: 2px 2px 4px var(--textos);
  }

  .carrosel-texto span{
    font-family: var(--fonte-destaque);
    font-size: 25px;
    text-shadow: 2px 2px 4px var(--textos);
    
  }

  .carrosel-texto p{
    font-family: var(--fonte-textos-gerais);
    margin-top: 10px;
    color: var(--textos);
  }

  .carrosel-texto a{
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
  }

  .carrosel-texto a:hover{
    text-decoration: underline;
    transition: 0.5s;
    color: var(--destaqueDeBotao);
  }

  #carrosel-de-informacoes #botao-avancar i{
    font-size: 30px;

  }

  #carrosel-de-informacoes #botao-voltar i{
    font-size: 30px;
  }

  

#botao-avancar, #botao-voltar {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
}

    
#botao-voltar{
    left: 50px;
}
  
#botao-avancar{
    right: 50px;
}

